{
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "printWidth": 100,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "endOfLine": "lf",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "pluginSearchDirs": false,
  "organizeImportsSkipDestructiveCodeActions": true
}
